---
import Footer from "@/components/common/Footer.astro";
import Header from "@/components/common/Header.astro";
import { languages } from "@/i18n/ui";
import { getLangFromUrl, useTranslations } from "@/lib/utils";
import interFont from "@fontsource-variable/inter/files/inter-latin-wght-normal.woff2";
import "@/styles/global.css";

import { Toaster } from "sonner";

const lang = getLangFromUrl(Astro.url);
const { origin } = Astro.url;
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
      href={interFont}
    />
    <meta name="description" content={t("seo.description")} />
    <meta name="keywords" content={t("seo.keywords")} />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Bold Media" />
    <title>{t("seo.title")}</title>
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-TEKJKQK6ET"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-TEKJKQK6ET");
    </script>
    {
      Object.keys(languages).map((code) => (
        <link rel="alternate" hreflang={code} href={`${origin}/${code}`} />
      ))
    }
    <!-- Open Graph -->
    <meta property="og:title" content={t("seo.title")} />
    <meta property="og:description" content={t("seo.description")} />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:url" content={Astro.url} /> -->
    <meta property="og:locale" content={lang} />
    {
      Object.keys(languages).map((code) => (
        <meta property="og:locale:alternate" content={code} />
      ))
    }
    <meta property="og:image" content={`/favicon-32x32.png`} />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <Toaster richColors client:load />
  </body>
</html>
